.lecture-page {
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
  gap: 20px;
}

.left {
  width: 70%;
  padding: 10px;
}

.right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lecture-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
}

.lecture-form h2 {
  font-size: 20px;
  color: #8a4baf;
  margin-bottom: 12px;
}

.lecture-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lecture-form input[type="text"],
.lecture-form input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lecture-number {
  background-color: #fff;
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 5px;
  text-align: left; /* aligned left */
  width: 100%;
  cursor: pointer;
}

.lecture-number:hover {
  background-color: #8a4baf;
  color: white;
}

.active {
  background-color: #8a4baf;
  color: white;
}

.tick {
  float: right;
  background: red;
  padding: 2px;
  border-radius: 6px;
  color: greenyellow;
}

.delete-btn {
  background: red;
  margin-top: 5px;
}

.progress {
  max-width: 300px;
  background-color: #333;
  padding: 6px;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .lecture-page {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }
}
